.form {
  display: flex;
  justify-content: center;
  border: 2px solid hotpink;
  height: 20rem;
}


.form-div {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px;
  border-radius: 7px;
  width: 50%
}

.select {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px;
  border-radius: 7px;
  width: 69%;
}

.select-div {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px;
  border-radius: 7px;
}
.name {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px 2px 5px 2px ;
  border-radius: 7px;
  width: 70%;
  
}
.email {
  border: 2px solid grey;
  margin: 2px 2px 5px 2px ;
  padding: 7px;
  margin: 2px;
  border-radius: 7px;
  width: 70%;
}
.message{
  border: 2px solid grey;
  padding: 7px;
  margin: 2px;
  border-radius: 7px;
  width: 90%;
  height: 7rem;
}