@font-face {
  font-family: "Fira Sans";
  src: url(fonts/FiraSans-Regular.ttf);
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  background-color: #999;
  background-image: url("images/smith-rock.webp")
}

header {
  height: 10rem;
  display: flex;
  justify-content: center;

}

.header-div {
  width: 50%;
  margin: auto;
}

.header-logo {
  width: 8rem;
}

.main {
  display: flex;
  justify-content: center;

}

.main-div {
  background: #fff;
  width: 50%;
  height: 50rem;
  
}

footer {
  display: flex;
  justify-content: center;
  border: 2px solid hotpink;
}