.form {
  display: flex;
  justify-content: center;
  min-height: 17rem;
}

.form-div {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px;
  border-radius: 7px;
  width: 50%;
  box-shadow: 0px 2px 1px grey;
}

.select,
.name,
.email,
.message {
  font-family: "Fira Sans";
}

.select {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px;
  border-radius: 7px;
  width: 69%;
  font-size: 16px;
}

.select:focus {
  border: 2px solid grey;
}

.select-div {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px;
  border-radius: 7px;
}

.name {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px 2px 5px 2px;
  border-radius: 7px;
  width: 70%;
}

.email {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px 2px 5px 2px;
  margin: 2px;
  border-radius: 7px;
  width: 70%;
}

.company {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px 2px 5px 2px;
  margin: 2px;
  border-radius: 7px;
  width: 70%;
}

.message {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px;
  border-radius: 7px;
  width: 90%;
  max-width: 95%;
  min-width: 95%;
  height: 5rem;
  min-height: 5rem;
}

.submit {
  font-family: 'Fira Sans';
  margin: 2px;
  
}

.submit:hover {
  cursor: pointer;
}

.submit-div {
  display: flex;
  justify-content: right;
}
