.form-section {
  padding: 20px;
  padding-left: 3rem;
  margin: auto;
  height: auto;

  @media (max-width: 425px) {
    /* padding: 5px 10px 10px 25px; */
    padding: 10px;
  }
}


.form {
  display: flex;
  justify-content: center;
  min-height: 17rem;
}

.form-div {
  border: 2px solid grey;
  padding: 7px;
  border-radius: 5px;
  width: 50%;
  max-width: 20rem;
  box-shadow: 0px 2px 1px grey;

  @media (max-width: 425px) {
    width: 90%;
  }

  @media (min-width: 425px) and (max-width: 1900px) {
    width: 90%;
  }
}

.select,
.name,
.email,
.message,
.company,
.submit,
.select-sponsor {
  font-family: "Fira Sans";

  @media (max-width: 425px) {
    font-size: 11px;
  }
}

.select {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px;
  border-radius: 5px;
  width: 60%;
  font-size: 16px;

  @media (max-width: 425px) {
    font-size: 14px
  }
}

.select:focus {
  border: 2px solid grey;
}

.select-div {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px;
  border-radius: 5px;
}

.name {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px 2px 5px 2px;
  border-radius: 5px;
  width: 70%;
}

.email {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px 2px 5px 2px;
  margin: 2px;
  border-radius: 5px;
  width: 70%;
}

.company {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px 2px 5px 2px;
  margin: 2px;
  border-radius: 5px;
  width: 70%;
}

.message {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px 2px 2px 2px;
  border-radius: 5px;
  width: 85%;
  max-width: 92%;
  min-width: 92%;
  height: 2.75rem;
  min-height: 2.75rem;

  @media (max-width: 425px) {
    width: 92%;
    max-width: 92%;
    min-width: 92%;
  }
}

.submit-div {
  display: flex;
  justify-content: right;
  /* border: 2px solid hotpink; */
  width: 100%;
  margin: 2px 2px 2px 2px;
  /* width: 99%;
  max-width: 99%;
  min-width: 99%; */
}

.submit {
  /* margin: 2px; */
  /* padding: 2px; */
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 4px;
  width: 3.5rem;

  @media (max-width: 425px) {
  }
}

.submit:hover {
  cursor: pointer;
}

.submit:focus {
  background: #ddd;
}


.sponsor-div {
  display: flex;

  font-size: 14px;
  
  @media () {
    
  }
}

.sponsor {
  border: 2px solid grey;
  padding: 7px;
  margin: 2px 2px 5px 2px;
  margin: 2px;
  border-radius: 5px;
  width: 69%;
  height: 20%;
  font-size: 11px;
}

.select-sponsor {
  border: 2px solid grey;
  padding: 3px;
  margin: 2px 2px 5px 2px;
  margin: 2px;
  border-radius: 5px;
  width: 20%;

  @media (max-width: 425px) {
    width: 3.5rem;
  }

}
